@model PrimeEwsi.Models.ErrorModel
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>


<div class="alert alert-danger">
    <strong>Error!</strong> @Model.Description
</div>

<div class="alert alert-danger">
    <strong>StackTrace</strong> @Model.StacTrace
</div>